body {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body a {
    color: aquamarine;
    font-size: 16px;
}
header h1 {
    font-size: 50px;
    font-weight: normal;
}
article h2 {
    font-weight: 300;
    font-size: 42px;
}
footer p, article p {
    font-size: 21px;
    color: gray;
}
footer {
    text-align: right;
}